.SliderBox{
    height: 400px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    gap: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    margin-bottom: 30px;
}
.insideBox{
    min-width: 600px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
    scroll-snap-align: center; 
    display: flex;
    gap: 46px;
}
.insideBox .leftBanner {
    border-radius: 30px 0px 0px 30px;
    width: 204px;
}
/* Custom scrollbar styling for WebKit browsers (Chrome, Safari, Edge) */
.SliderBox::-webkit-scrollbar {
    height: 6px !important;          
    width: 19px;
}

.SliderBox::-webkit-scrollbar-track {
    background: transparent;           /* Transparent track */
}

.SliderBox::-webkit-scrollbar-thumb {
    background-color: #888;            /* Scroll thumb color */
    border-radius: 10px;               /* Rounded scroll thumb */
}

.SliderBox::-webkit-scrollbar-thumb:hover {
    background-color: #555;            /* Darker color on hover */
}
.boxContent{
    width: 300px;
    height: 200px;
    border-bottom: 2px solid #EEE9E9;
}
.rightInfo{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.boxContent h2{
    margin: 10px 0px;
}
.boxContent img{
    margin-top: 10px;
}
.flexEnd{
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
}